<div class="main">
  <div class="toolbar">
    <a routerLink="async" routerLinkActive="active">Async</a>
    <a routerLink="operators" routerLinkActive="active">Operators</a>
    <a routerLink="inputs" routerLinkActive="active">Inputs</a>
    <a [routerLink]="['router-params', 'some_id']" [queryParams]="{filter: 'Dog'}" routerLinkActive="active">Router params (Dog)</a>
    <a [routerLink]="['router-params', 'some_id']" [queryParams]="{filter: 'Cat'}" routerLinkActive="active">Router params (Cat)</a>
    <a [routerLink]="['router-params', 'some_id']" [queryParams]="{filter: 'Fox'}" routerLinkActive="active">Router params (Fox)</a>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
